{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="/static/leaflet.ajax.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/static/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/leaflet.awesome-markers.css" />
    <script src="/static/leaflet.awesome-markers.min.js"></script>

{% endblock head %}

{% block content %}
<div id="app"></div>

{% if is_debug %}
<script type="module" src="http://127.0.0.1:3000/src/main.js"></script>
{% else %}
{% load static %}
<script type="module" src="{% static 'main.js' %}"></script>
{% endif %}


{% endblock content %}